.display-card{
  font-size:1.5rem;
}

.display-card-container{
  min-height:130px;
  font-size: 14px;
}

@media (min-width:992px) {
  .display-card{
    font-size:14px;
  }
  
}
@media (min-width:1200px) {
  .display-card{
    font-size:14px;
  }
  
}
.card-icon-background{
  width: 48px;
  height: 48px;
  background: linear-gradient(to right, #f5385a, #f55d38);
}
.card-img{
  width: 18px; 
  height: 17px;   

}